<VirtualHost *:{% if item.ssl|default(false) %}443{% else %}80{% endif %}>
        ServerName {{ item.hostname }}
        {% if item.serveralias is defined -%}
        ServerAlias {{ item.serveralias }}
        {% endif -%}
        ServerAdmin {{ item.serveradmin | default('webmaster@localhost') }}

        DocumentRoot {{ item.documentroot }}
        <Directory {{ item.documentroot }}>
                Options -Indexes FollowSymLinks
                AllowOverride None
                Order allow,deny
                allow from all
        </Directory>


        {% set directories = item.directories|default({}) %}
        {% for dir_name, dir_params in directories.iteritems() -%}
        <Directory {{ dir_name }}>

                Options {{ dir_params.options|default('-Indexes FollowSymLinks') }}
                AllowOverride {{ dir_params.override|default('None') }}
                {% for dir_extra in dir_params.extras|default([]) -%}
                {{ dir_extra }}
                {% endfor %}

        </Directory>

        {% endfor %}

        {% set aliases = item.aliases|default({}) %}
        {% for alias, alias_directory in aliases.iteritems()|default({}) -%}
        Alias {{ alias }} {{ alias_directory }}
        {% endfor %}

        ErrorLog ${APACHE_LOG_DIR}/error.{{ item.hostname }}.log
        CustomLog ${APACHE_LOG_DIR}/access.{{ item.hostname }}.log {{ajgarlag_apache2_log_format}}

        {% for extra in item.extras|default([]) -%}
        {{ extra }}
        {% endfor %}

        {% if item.ssl|default(false) -%}
        SSLEngine on
        SSLCertificateFile {{item.ssl_cert|default(ajgarlag_apache2_https_cert)}}
        SSLCertificateKeyFile {{item.ssl_key|default(ajgarlag_apache2_https_key)}}
        {% if item.ssl_key is defined -%}
        SSLCertificateChainFile {{ item.ssl_key }}
        {% elif item.ssl_cert is not defined and ajgarlag_apache2_https_chain is defined -%}
        SSLCertificateChainFile {{ ajgarlag_apache2_https_chain }}
        {%- endif %}

        <FilesMatch "\.(cgi|shtml|phtml|php)$">
                SSLOptions +StdEnvVars
        </FilesMatch>
        <Directory /usr/lib/cgi-bin>
                SSLOptions +StdEnvVars
        </Directory>
        BrowserMatch "MSIE [2-6]" \
                nokeepalive ssl-unclean-shutdown \
                downgrade-1.0 force-response-1.0
        BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
        {% endif %}

</VirtualHost>
